extends layout
block content
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="/javascripts/scripts.js")
    | Host : https://
    input(size=40, id="host", value="dodici.v.newstore.net")
    | v0/token
    br
    | Username:
    input(id="username", value="")
    | Password:
    input(type="password", id="password", value="")
    br
    button(onclick="callToken(document.getElementById('host').value,document.getElementById('username').value, document.getElementById('password').value)") Get Token
    button(onclick="clearCookies()") Clear Cookies
    br
    textarea(readonly, cols=200, rows=3, id="token_field")
    br
    font(size=5) WMS simulator for NewStore integration
    br
    a(id='back-link', href="/stub") <<< Back to list
    br
    font(size=5) Details for request
    font(size=5, color="red", id="request_id") #{request_id}
    form(action="/stub/" + request_id + "/acknowledge", method="post", onsubmit="return isAckPossible()")
        input(type="submit", value="Acknowledge")
    br
    font(size=3) If there was multiple requests with same ID they all will be listed here
    br
    each request in requests
        font(size=6) Request received at
        font(size=5, color="red")  #{request.received_at}
        br
        label(for="original_payload") Original request data
        textarea(readonly, rows=3, id="original_payload")= JSON.stringify(JSON.parse(request.original_payload), null, 2)
        table
            tr
                td 
                    font(size=4, color="blue") Order ID : #{request.order_id}
            tr
                td
                    - billing_address = request.billing_address
                    font(size=4, color="blue") Billing Address
                    each val, key in billing_address
                        br
                        | #{key} : #{val}
                td
                    - shipping_address = request.shipping_address
                    font(size=4, color="blue") Shipping Address
                    each val, key in shipping_address
                        br
                        | #{key} : #{val}
            tr
                td Shipping option
                td 
                    | Carrier : #{request.shipping_options.carrier}
                    br
                    | Service level : #{request.shipping_options.service_level}
            tr
                td Order extended attributes
                td 
                    - if(request.order_extended_attributes)
                        each attr, idx in JSON.parse(request[0].order_extended_attributes)
                            | #{attr.name} : #{attr.value}
                            br

        font(size=4, color="blue") Items
        table
            tr
                th Product ID
                th Extended attributes
            each item in request.items
                tr
                    td= item.product_id
                    td 
                        - if(item.extended_attributes)
                            each attr, idx in item.extended_attributes
                                | #{attr.name} : #{attr.value}
                                br
        br
        fieldset
            legend Reject (Click to expand)
            form(id="rejection_form", action="/stub/" + request_id + "/reject", method="post", onsubmit="return isRejectPossible()")
                select(name="rejection_reason", onchange="onJejectionReasonChange(#{JSON.stringify(request)})")
                    option(value="no_inventory") No Inventory
                    option(value="cannot_fulfill") Can not fulfil
                    option(value="cancellation_request") Cancellation on request
                br
                br
                select(name="missing_product_ids" multiple)
                    each item in request.items
                        option(value=item.product_id) #{item.product_id}
                br
                input(type="submit", value="Reject")
            br
            button(id="get_rejection_status_btn", onclick="getRejectionStatus(document.getElementById('request_id').innerText)") Get rejection status
            textarea(readonly, rows=3, id="rejectionStatus")
        fieldset(id="shippment")
            legend Shippment (Click to expand)
            button(id="add_shippment#{request.version}", onclick="addShippmentUi(#{JSON.stringify(request)})") +
            form(id="shippment_outer_form#{request.version}", action="/stub/" + request_id + "/ship", method="post", onsubmit="return isShippmentPossible()")
                input(id="shippment_submit_button#{request.version}", type="submit", value="Send shippment notification")
            br
            button(id="get_shipment_status_btn", onclick="getShippmentStatus(document.getElementById('request_id').innerText)") Get shipment status
            textarea(readonly, rows=3, id="shippmentStatus")
        br
        br
        br

