extends layout

block content
    h1 WMS emulation for NewStore integration
    p List of received requests
    table(id="requests_table",)
        tr
            th #
            th Request ID
            th Created at
                br
                | (from payload)
            th Received at
                br
                | (local time)
            th products in request
            th Details
        each value, index in requests
            tr
                td= index
                td= value.request_id
                td= value.created_at
                td= value.received_at
                td
                    each val1 in value.products.split(',')
                        p= val1.replace('\"','').replace('\"','')
                td
                    a(href= "/stub/" + value.request_id) >>>>>>>>

